<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Inventory</h1>
      <!-- item is sent to parent -->
      <!-- establish receiving pipe onItemReceived(where $event is the item) from child(inventory) in parent component.ts -->
      <app-inventory (newItemEvent)="onItemAddition($event)"></app-inventory>
    </div>
    <div class="col-sm">
      <h1>Cart</h1>
      <!-- send the variable declared [selectedItems]="selectedItems" with value stored down to the child -->
      <!-- child needs to establish receiving pipe @input selectedItems in child component.ts -->
      <!-- establish receiving pipe onItemRemoved(where $event is the item) from child(cart) in parent component.ts -->
      <!-- child needs to establish receiving pipe @input selectedItems in child component.ts -->
      <!-- In this case, the child uses back the same receiving pipe variable selectedItems -->
      <app-cart [selectedItems]="selectedItems" (newItemRemovedEvent)="onItemRemoved($event)"></app-cart>
    </div>
  </div>
</div>